*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: None;
}

body {
    background-image: url("./65Caef157286C476E3B221Bfa439873B.jpg");
}

form {
    width: 30%;
    margin: 10vh auto 0 auto;
    padding: 20px 50px;
    box-shadow: 0 0 1px 3px brown;
    background-color: black;
    opacity: initial;
}

.input-group {
    width: 100%;
    margin: 20px 0px;
}

label {
    text-transform:uppercase;
    margin-bottom: 5px;
}
input {
    width: 100%;
    line-height: 45px;
    background-image: url("../1.jpg");
    border: 0xpx;
    border-bottom: 3px solid rgb(134, 30, 56);
    font-size: 30px;
    padding: 0 10px;
}

button {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    border-color: brown;
    box-shadow: rgba(0,0,0,0.8)10, 10px;
    border: 3px solid brown;
}

.text-center {
    text-align: left;
    color: blanchedalmond;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    text-decoration: underline  brown;
}
